<job_conf>
	<plugins workers="4">
		<plugin id="local_plugin" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
		<plugin id="condor" type="runner" load="galaxy.jobs.runners.condor:CondorJobRunner"/>
	</plugins>
	<destinations default="condor_16">
		<destination id="local_destination" runner="local_plugin"/>
		<destination id="local_condor" runner="condor" />
		<destination id="condor_1x1" runner="condor">
			<param id="request_cpus">1</param>
			<param id="request_memory">1GB</param>
		</destination>

		<destination id="condor_8" runner="condor">
			<param id="request_cpus">2</param>
			<param id="request_memory">8GB</param>
		</destination>
		<destination id="condor_16" runner="condor">
			<param id="request_cpus">4</param>
			<param id="request_memory">15GB</param>
		</destination>
	</destinations>
	<tools>
		<tool id="emc-ggupset" destination="condor_1x1"/>
		<tool id="emc-unique_on_columns" destination="condor_1x1"/>
		<tool id="emc-edger" destination="condor_1x1"/>
	</tools>
	<limits>
		<limit type="registered_user_concurrent_jobs">2</limit>
		<!--
		<limit type="walltime">24:00:00</limit>
		<limit type="output_size">50GB</limit>
		-->
	</limits>
</job_conf>
